@use '../../../styles/variables';
@use '../../../styles/mixins';
@use '../../../styles/fonts';

.my-projects {
  @include mixins.container(100%, 0, 1rem);
  border-top: 4px solid variables.$blue;
  //margin de 12rem aqui
  margin-top: 8rem;

  h1 {
    @include mixins.font-family('Roboto Condensed ExtraBold');
    @include mixins.font-properties(3rem, 600);
    text-align: center;
    margin: 1rem 0 2rem 0;
  }
  h5 {
    @include mixins.font-properties(1rem, 600);
    color: variables.$white;
  }
  .my-projects-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    @media screen and (min-width: 769px) and (max-width: 900px) {
      flex-direction: column;
    }
  }
  .my-projects-image img {
    max-width: 800px;
    width: 100%;
    box-shadow: 1px 2px 4px 3px #eee;
    border-radius: 10px;

    @media screen and (min-width: 769px) and (max-width: 1279px) {
      width: 400px;
    }
    @media screen and (min-width: 1280px) and (max-width: 1366px) {
      width: 80%;
    }
  }
  .my-projects-text {
    max-width: 850px;
    width: 100%;

    @media screen and (min-width: 769px) and (max-width: 1279px) {
      width: 60%;
    }
    @media screen and (min-width: 901px) and (max-width: 1279px) {
      width: 50%;
    }
    @media screen and (min-width: 1280px) and (max-width: 1366px) {
      width: 50%;
    }
    @media screen and (min-width: 1367px) and (max-width: 1766px) {
      margin-left: 5rem;
    }

    h2 {
      @include mixins.font-properties(3rem, 600);
      background: linear-gradient(50deg, #052555, #0666c5 55%, #0580f2);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: right;

      @media screen and (max-width: 768px) {
        @include mixins.font-properties(2.5rem, 600);
        text-align: center;
        margin-top: 1rem;
      }
      @media screen and (min-width: 769px) and (max-width: 1279px) {
        text-align: center;
      }
    }

    p {
      @include mixins.font-properties(1.5rem, 600);

      @media screen and (max-width: 768px) {
        @include mixins.font-properties(1.3rem, 600);
        text-align: center;
        margin-top: 1rem;
      }
      @media screen and (min-width: 769px) and (max-width: 900px) {
        @include mixins.font-properties(1.2rem);
        text-align: center;
      }
      @media screen and (min-width: 769px) and (max-width: 1279px) {
        @include mixins.font-properties(1.2rem);
      }
    }
    span {
      @include mixins.font-properties(1.5rem);
      color: variables.$blue;
      padding-left: 0.5rem;
    }
  }
}
