@font-face {
  font-family: 'Roboto Bold Italic';
  src: url(../../src/fonts/Roboto-BoldItalic.ttf);
}
@font-face {
  font-family: 'Roboto Thin';
  src: url(../../src//fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: 'Roboto Bold';
  src: url(../../src/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: 'Roboto Boldd';
  src: url(../../src/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto Regular';
  src: url(../../src/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto Condensed SemiBold';
  src: url(../../src/fonts/RobotoCondensed-SemiBold.ttf);
}
@font-face {
  font-family: 'Roboto Condensed Medium';
  src: url(../../src/fonts/RobotoCondensed-Medium.ttf);
}
@font-face {
  font-family: 'Roboto Condensed Italic';
  src: url(../../src/fonts/RobotoCondensed-Italic.ttf);
}
@font-face {
  font-family: 'Allura Regular';
  src: url(../../src/fonts/Allura-Regular.ttf);
}
