//colors
$blue: #2563eb;
$blue-dark: #1e3a8a;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #ffa500;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$black: #000;
$blue-900: #171821;
$blue-800: #21222d;
$blue-500: #22aef5;
$gray-500: #76767a;
$gray-100: #fafafa;
$gray: #868e96;
$gray-dark: #343a40;
$primary: #cca876;
$secondary: #868e96;
$secondary-dark: #5a5c5e;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$vibrantPink: #e91e63;
$light: #f8f9fa;
$dark: #343a40;
$darkk: #24262b;
$dark-body: #171717;

//breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 364px;
$breakpoint-md: 766px;
$breakpoint-m2: 767px;
$breakpoint-lg: 992px;
$breakpoint-lgg: 1280px;
$breakpoint-xl: 1366px;
$breakpoint-xxl: 1800px;
$max-width: 2000px;
$container: 1170px;

//fontSize
$line-heigth: 1.3;
