@use '../../styles/variables';
@use '../../styles/mixins';
@use '../../styles/fonts';

.my-projects {
  @include mixins.container(100%, 0, 1rem);
  border-top: 4px solid variables.$blue;
  //margin de 12rem aqui
  margin-top: 12rem;

  h1 {
    @include mixins.font-family('Roboto Condensed Teste');
    @include mixins.font-properties(3rem, 600);
    text-align: center;
    margin: 1rem 0 2rem 0;
  }
  .my-projects-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .my-projects-image img {
    width: 800px;

    box-shadow: 1px 2px 10px 3px #eee;

    border-radius: 10px;
  }
  .my-projects-text {
    width: 850px;

    h2 {
      @include mixins.font-properties(3rem, 600);
      background: linear-gradient(50deg, #052555, #0666c5 55%, #0580f2);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: right;
    }
    p {
      @include mixins.font-properties(1.5rem, 600);
    }
    span {
      @include mixins.font-properties(1.5rem);
      color: variables.$blue;
      padding-left: 0.5rem;
    }
  }
}
